@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #632ee3, #9f62f2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .bg-gradient {
    background-image: linear-gradient(to right, #632ee3, #9f62f2);
    transition: all 0.3s ease-in-out;
  }
  .bg-gradient:hover {
    opacity: 0.9;
  }
}
